#movie-nav {
    float: left;
    margin: auto;
    width: 50%;
    border: 6px;
    border-color: black;
    padding: 10px;
}

#main-header {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

html { 
    background: url(images/background3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    color: #fff;
  }

  #season-list {
    font-family: -apple-system, 'Get Shwifty';
  }


  #spotlight-season {
    margin: auto;
    width: 50%;
    border: 3px;
    border-color: black;
    padding: 10px;
    color: white;
  }

.episodes-list li {
    text-align: center;
    color: white;
    font-style: italic;
    font-style: Bold;
    font-size: 1.2em;
    font-family: 'OCR A STD' monospace;
    background-color: rgba(128, 128, 128, 0.582);
    margin: auto;
    width: 35%;
    border: 3px solid white;
    padding: 10px;
    box-sizing: border-box;
    

}

/* li {
    background-color: blue;
    border: 6px solid white;
    border-color: white;
    padding: 5px;
    color: black;
    margin: auto;
    width: 400px;
    height: 200px;
    font-size: 0.7em;
} */